---
import ContentWrapper from "../components/ContentWrapper.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout headerBgColor="bg-transparent">
  <title slot="meta">Covenant CRE</title>
  <ContentWrapper>
    <Hero />
  </ContentWrapper>

  <div class="mt-24 bg-gray-100 pt-8">
    <ContentWrapper>
      <Services />
    </ContentWrapper>
  </div>
</Layout>

<style>
  .soft-round {
    clip-path: ellipse(125% 100% at 50% -5%);
  }
</style>
