---
import ContentWrapper from "../components/ContentWrapper.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout headerBgColor="bg-transparent">
  <title slot="meta">Covenant CRE</title>
  <section>
    <ContentWrapper>
      <h1>Hello</h1>
    </ContentWrapper>
  </section>
</Layout>

<style>
  .soft-round {
    clip-path: ellipse(125% 100% at 50% -5%);
  }
</style>
