---
import Layout from "../layouts/Layout.astro";
---

<Layout headerBgColor="bg-transparent">
  <title slot="meta">Covenant CRE - Listings</title>
  <iframe src="https://www.loopnet.com/looplink/search/?siteid=7196" width="100%" height="880"></iframe>
</Layout>
