<div
  class="bg-brand-orange z-20 flex min-h-12 items-center justify-center p-2 text-center text-lg text-black decoration-1 underline-offset-2"
>
  <a href="/donate" class="block underline">Make a donation to support Lego4Life - coming up on December 15th, 2025</a>
</div>
