---
import ContentWrapper from "./ContentWrapper.astro";
---

<footer class="bg-brand-blue mt-auto p-20">
  <ContentWrapper>
    <div class="flex items-center justify-center">
      <p class="text-lg text-white">
        Covenant Commercial Real Estate {`© ${new Date().getFullYear()}`}
      </p>
    </div>
  </ContentWrapper>
</footer>
