<header class="bg-blue z-50 flex h-40 shrink-0 items-center justify-between border-b p-7 sm:px-14">
  <div>
    <a href="/">
      <span class="sr-only">Home</span>
      <img src="/logo-full.svg" alt="Covenant Commercial Real Estate Logo" class="hidden size-48 sm:block" />
      <img src="/logo.svg" alt="Covenant Commercial Real Estate Logo" class="size-16 sm:hidden" />
    </a>
  </div>
  <div>
    <a
      href="#"
      target="_blank"
      rel="noopener noreferrer"
      class="bg-brand-blue border-brand-blue/50 hover:bg-brand-blue/85 inline-flex items-center justify-center rounded-lg border px-4 py-2 text-sm text-white"
      >Client Login
    </a>
  </div>
</header>
