---

---

<header
  class="fixed top-0 right-0 left-0 z-50 flex h-24 shrink-0 items-center justify-center bg-white/80 p-7 backdrop-blur-md sm:h-40 sm:px-14"
>
  <div class="mx-auto flex w-full max-w-7xl items-center justify-between">
    <div>
      <a href="/">
        <span class="sr-only">Home</span>
        <img src="/logo-full.svg" alt="Covenant Commercial Real Estate Logo" class="size-24 sm:size-48" />
      </a>
    </div>
    <div class="flex items-center gap-x-12">
      <!-- <a href="/" class="text-brand-blue hover:text-brand-gold text-sm font-semibold tracking-wide transition-colors">
        Home
      </a> -->
      <a
        href="/listings"
        class="text-brand-blue border-brand-blue hover:border-brand-gold hover:text-brand-gold rounded border px-4 py-3 text-sm font-semibold tracking-wide transition-colors"
      >
        Listings
      </a>
    </div>
  </div>
</header>
